.Settings {
  text-align: center;
  
}

.Settings-header {
  font-size: calc(20px + 2vmin);
  text-align: left;
  margin-left: 20px;
}

.Settings-header2{
  font-size: calc(10px + 2vmin);
}

.Horizontal-center{
  margin: 0;
  position: absolute;
  left: 50%;
}